<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container mt-5">
  
  <h2>Premier League Zimbabwe</h2>
  
  <table class="table table-striped">
    <thead>
        <tr>
          <th>POS</th>
          <th>TEAM</th>
          <th>P</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>F</th>
          <th>A</th>
          <th>D</th>
          <th>Pts</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users">
        <td>{{ user.posNumber }}</td>
        <td>{{ user.teamName }}</td>
        <td>{{ user.playedTeam }}</td>
        <td>{{ user.winsTeam }}</td>
        <td>{{ user.drawsTeam }}</td>
        <td>{{ user.lossesTeam }}</td>
        <td>{{ user.goalsForTeam }}</td>
        <td>{{ user.goalsAgainstTeam }}</td>
        <td>{{ user.goalDifferenceTeam }}</td>
        <td>{{ user.pointsTeam }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
